<%= form_with model: @group, url: user_groups_path, method: :post do |form| %>
  <% if group.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
        <% group.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mx-5">
    <% form.label :name, required: true, style: "display: block" %>
    <%= form.text_field :name, class:"form-control", placeholder:"Name" %>
  </div>

  <br />
  <div class="mx-5">
    <% form.label :icon, required: true, style: "display: block" %>
    <%= form.file_field :icon, direct_upload: true, class:"form-control", placeholder:"Icon" %>
  </div>

  <div>
    <% form.label :user_id, style: "display: block" %>
    <%= form.number_field :user_id, id: :group_user_id, class:"form-control", value: current_user.id, type: :hidden %>
  </div>

  <div id="btn"class="btn btn-primary btn-lg  mt-4 mx-5">
    <%= form.submit class: 'bg-primary border border-0'%>
  </div>
<% end %>
