<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<h1 class="text-center">Log in </h1>

  <div class="form-group mx-5 mt-4">
    <% f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
  </div>

  <div class="form-group mx-5">
    <% f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password", class: 'form-control' %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="form-group mx-5">
      <%= f.check_box :remember_me, class: 'form-check-label' %>
      <%= f.label :remember_me, class: 'form-check-label' %>
  </div>
  <% end %>

  <div class="form-group mx-5">
    <%= f.submit "Log in", class: 'btn btn-primary' %>
  </div>
<% end %>
<br />

<div class= "mx-5">
  <%= render "devise/shared/links" %>
</div>
